body {
    margin: 0;
    padding: 0;
    user-select:none;
-webkit-user-select:none;
-ms-user-select: none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-drag:none;
-khtml-user-drag:none;
}
html, css{
    touch-action:none;
  }
#c {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  